@charset 'utf-8';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
header{
    width: 100%;
/*    border-bottom: 1px solid #ddd;*/
}
#color{
    background-color: #F7F2E0;
}

header .inner{
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative;
}
header .inner h1{
    position: absolute;
    left: 0px;
    bottom: 15px;
}
header .inner h1 a{
    font: bold 24px/1 "arial";
    color: #444;
}
header .inner .util {
    position: absolute;
    top: 20px;
    right: 40px;
}

header .inner .util li{
    float: left;
}
header .inner .util li a{
    display: block;
    font: 12px/1 "arial";
    color: #999;
    padding: 0px 10px;
}

header .inner #gnb{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
header .inner #gnb li{
    float: left;
}
header .inner #gnb li a {
    display: block;
    font: bold 15px/1 "arial";
    color:#555;
    padding:20px 40px;
    transition: all 0.5s;
}
header .inner #gnb li a:hover{
    background: #555;
    color: #fff;
}
figure{
    width: 100%;
    height: calc(100vh - 120px);
    background: #000;
    position: relative;
    overflow: hidden;
    padding-top: 250px;
}
figure video{
    object-fit:cover;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}
figure .inner{
    width: 1180px;
    margin: 0px auto;
    position:relative;
}
figure .inner h1 {
    font: normal 120px/1 "arial";
    color: #fff;
    margin-bottom: 20px;
}
figure .inner p{
    font: 16px/1.4 "arial";
    color: #fff;
    margin-bottom: 60px;
}
figure .inner a{
    display: block;
    width: 300px;
    height: 30px;
    border: 1px solid #bbb;
    font: bold 11px/30px "arial";
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.7s;
}
figure .inner a:hover {
    background: #fff;
    color: #555;
}
.scene{
      height: 100vh;
      overflow: hidden;
      background-attachment: fixed;
      background-size: cover;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 200;
}
.scene header{
      color:white;
      max-width: 80%;
      position: relative;
      left:50%;
      top:50%;
      transform:translateX(-50%) translateY(-50%);
      font-size:1.5rem;
      text-align: center;
}
.scene header h1{
      font-size:2rem;
      margin-bottom: 1rem;
      font-weight: 300;
    }
    .scene header h1:after{
      content:'';
      border-bottom:1px solid white;
      width:8rem;
      display: block;
      margin:0 auto;
      margin-top:1rem;
    }
.scene.one{
    background-image: url("./img/image6.jpg")
}
.scene.two{
    background-image: url("./img/image4.jpg")
}
.scene.three{
    background-image: url("./img/image5.jpg")
}
.scene.four{
    background-image: url("./img/image2.jpg");
}
.scene.four h1{
    align-items: center;
    font-size: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 300px;
    margin-left: 668px;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100%;
}
.countd{
    font-size: 1.5rem;
    width: 80px;
    height: 80px;
    border: 2px solid;
    margin: 0 30px;
    border-radius: 50%;
    overflow: hidden;
}
.countd span{
    display: block;
    font-size: 26px;
    margin-top: 14px;
    margin-left: 20px;
}
.countd p{
    margin-left: 15px;
}
