<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/css/member/style.css">
          
    <title>로그인 & 회원가입</title>
</head>
<body>
    <header>
        <a href="../index.html" class="header_logo"><sup>선</sup><sub>남</sub><sup>선</sup><sub>녀</sub></a>
        <div class="header_menu">
            <div class="icon_btn">
                <i class="fas fa-times close-btn"></i>
            </div>
            <a href="#">about</a>
            <a href="#two">한복</a>
            <a href="#">Team dev</a>
            <a href="#">Contact us</a>
            <a sec:authorize="isAnonymous()" href="/member/signinform">로그인</a>
            <form th:action="@{/member/signout}" method="POST" sec:authorize="isAuthenticated()" name="deleteform">
                <a sec:authorize="isAuthenticated()" href="javascript:deleteform.submit()">로그아웃</a>
            </form>
            <p style="color : white" sec:authorize="isAuthenticated()" sec:authentication="principal.name"></p>
        </div>
        <div class="icon_btn">
                <i class="fas fa-bars menu-btn"></i>
        </div>
    </header>
<main>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form th:action="@{/member/signin}" method="post">
                    <div class="input-field">
                        <input type="text" name="email" placeholder="email 입력" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" name="pw" placeholder="비밀번호 입력" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div th:if="error">
                        <p th:text="${errorMessage}" style="color : red; margin-top: 20px;"></p>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">로그인 유지</label>
                        </div>
                        
                        <a href="#" class="text">비밀번호를 잊으셨나요?</a>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Login">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">회원이 아니신가요?
                        <a href="#" class="text signup-link">가입하기</a>
                    </span>
                </div>
            </div>

            <!-- Registration Form -->
            <div class="form signup">
                <span class="title">회원등록</span>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="이름을 입력하세요." required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="이메일을 입력하세요." required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="비밀번호 입력" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="비밀번호 재확인" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="termCon">
                            <label for="termCon" class="text">모든약관의 동의합니다.</label>
                        </div>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="가입하기">
                    </div>
                </form>
                <div class="login-signup">
                    <span class="text">이미 회원이신가요?
                        <a href="#" class="text login-link">로그인 하기</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>
    
	<script src="/js/member/script.js"></script>

</body>
</html>

