<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ㅅㄴㅅㄴ</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#4285f4"/>
    <script src="https://kit.fontawesome.com/aa02f61db7.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
    <!--link rel="stylesheet" href="css/styles.css"/-->
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../css/swiper-bundle.min.css" />
</head>
<body>
    <header>
        <a href="#" class="header_logo"><sup>선</sup><sub>남</sub><sup>선</sup><sub>녀</sub></a>
        <div class="header_menu">
            <div class="icon_btn">
                <i class="fas fa-times close-btn"></i>
            </div>
            <a href="#">about</a>
            <a href="#two">한복</a>
            <a href="#">Team dev</a>
            <a href="#">Contact us</a>
            <a sec:authorize="isAnonymous()" href="/member/signinform">로그인</a>
            <form th:action="@{/member/signout}" method="POST" sec:authorize="isAuthenticated()" name="deleteform">
                <a sec:authorize="isAuthenticated()" href="javascript:deleteform.submit()">로그아웃</a>
            </form>
            <p style="color : white" sec:authorize="isAuthenticated()" sec:authentication="principal.memberName"></p>
        </div>
        <div class="icon_btn">
                <i class="fas fa-bars menu-btn"></i>
        </div>
    </header>
    <section class="content">
    <div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="../static/images/image20.jpg" alt="">
      <div class="title">선남선녀</div>
      <div class="description">과거에 기억에 스며들다</div>
    </div>
    <div class="swiper-slide">
     <img src="../static/images/image11.jpg" alt="">
      <div class="title">한국의 문양</div>
      <div class="description">태극문양 기와</div>
    </div>
    <div class="swiper-slide">
     <img src="../static/images/image12.jpg" alt="">
      <div class="title">경복궁 경회루</div>
      <div class="description">밤에 보면 그토록 아름다운..</div>
    </div>
  </div>
  <!-- If we need pagination -->
<!--  <div class="swiper-pagination"></div>-->

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <!-- Progressbar -->
  <div class="swiper-progress-bar">
    <span class="slide_progress-bar"></span>
  </div>
</div>
</section>
    <section class="section-main">
        <span class="static">
          <h1>안녕하세요 선남선녀의,</h1>
          </span>
           <ul class="dynamic-txts">
               <li><span>김건아 입니다.</span></li>
               <li><span>곽혜린 입니다.</span></li>
               <li><span>채희진 입니다.</span></li>
               <li><span>김소영 입니다.</span></li>
               <li><span>방성환 입니다.</span></li>
            </ul>
       <div>
          <ul class="main_sub">
          <li>
           <button type="button" data-slide-index="0">
               개량한복
           </button>
          </li>
            <li>
           <button type="button" data-slide-index="1">
               전통한복
           </button>
          </li>
          <li>
           <button type="button" data-slide-index="2">
               결혼식한복
           </button>
          </li>
           </ul>
       </div>
    </section>
    <div class="wrapper">
        <div class="container swiper">
            <h1 align="center">한복</h1>
            <div class="slide-container">

                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-box">
                            <img src="/images/image1.png" alt="">
                        </div>
                        <div class="profile-details">
                            <div class="name-job">
                        <h3 class="name">test</h3>
                        <h4 class="job">Lorem ipsum dolor.</h4>
                        </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-box">
                            <img src="/images/image2.png" alt="">
                        </div>
                        <div class="profile-details">
                            <div class="name-job">
                        <h3 class="name">test</h3>
                        <h4 class="job">Lorem ipsum dolor.</h4>
                        </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-box">
                            <img src="/images/image3.png" alt="">
                        </div>
                        <div class="profile-details">
                            <div class="name-job">
                        <h3 class="name">test</h3>
                        <h4 class="job">Lorem ipsum dolor.</h4>
                        </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-box">
                            <img src="/images/image5.png" alt="">
                        </div>
                        <div class="profile-details">
                            <div class="name-job">
                        <h3 class="name">test</h3>
                        <h4 class="job">Lorem ipsum dolor.</h4>
                        </div>
                        </div>
                    </div>
                        <div class="card swiper-slide">
                        <div class="image-box">
                            <img src="/images/image4.jpg" alt="">
                        </div>
                        <div class="profile-details">
                            <div class="name-job">
                        <h3 class="name">test</h3>
                        <h4 class="job">Lorem ipsum dolor.</h4>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
          <div class="swiper-button-prev swiper-navBtn"></div>
          <div class="swiper-pagination"></div>
        </div>
        </div>
    <section class="section-two" id="two">
        <h2>컨텐츠 추가 예정</h2>
        <h3>Comming Soon.</h3>
        <span>캡스톤 디자인</span>
    </section>
    <footer>
       <div class="waves">
           <div class="wave" id="wave1"></div>
           <div class="wave" id="wave2"></div>
           <div class="wave" id="wave3"></div>
           <div class="wave" id="wave4"></div>
       </div>
        <ul class="sns_icon">
            <li><a href="https://www.instagram.com/b4ngs__hwa2/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/login/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/i/flow/login" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=11cta61wi0g" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
        <div class="menu_about">
            <a href="#">윤리경영</a><span>|</span>
            <a href="#">인재채용</a><span>|</span>
            <a href="#">김건아</a><span>|</span>
            <a href="#">채희진</a><span>|</span>
            <a href="#">곽혜린</a><span>|</span>
            <a href="#">김소영</a><span>|</span>
            <a href="#">방성환</a><span>|</span>
            <legend><a href="#">개인정보 처리방침</a></legend>
        </div>
        <div class="about">
            Follow us on
        </div>
        <div>
           <p>
            © Since 1945 Amorepacific, All Rights Reserved.
            </p>
        </div>
    </footer>
    <a class="top_arrow" href="#"><i class="fa-solid fa-arrow-up"></i></a>
<!--    <script src="js/swiper-bundle.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="../js/script.js"></script>
    <script type="text/javascript">

        window.addEventListener("scroll", function(){
            var header = document.querySelector("header");
            header.classList.toggle('sticky', window.scrollY > 0)
        });
        var menu = document.querySelector('.header_menu');
        var menuBtn = document.querySelector('.menu-btn');
        var closeBtn = document.querySelector('.close-btn');

        menuBtn.addEventListener("click" , ()=> {
            menu.classList.add('active');
        });

        closeBtn.addEventListener("click" , ()=> {
            menu.classList.remove('active');
        });

        $(document).ready(function () {
  var swiper = new Swiper(".swiper-container", {
    autoplay: {
      delay: 5000,
      disableOnInteraction: false
    },
    speed: 500,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      type: "fraction"
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    },
    on: {
      init: function () {
        $(".swiper-progress-bar").removeClass("animate");
        $(".swiper-progress-bar").removeClass("active");
        $(".swiper-progress-bar").eq(0).addClass("animate");
        $(".swiper-progress-bar").eq(0).addClass("active");
      },
      slideChangeTransitionStart: function () {
        $(".swiper-progress-bar").removeClass("animate");
        $(".swiper-progress-bar").removeClass("active");
        $(".swiper-progress-bar").eq(0).addClass("active");
      },
      slideChangeTransitionEnd: function () {
        $(".swiper-progress-bar").eq(0).addClass("animate");
      }
    }
  });
  $(".swiper-container").hover(function () {
    swiper.autoplay.stop();
    $(".swiper-progress-bar").removeClass("animate");
  }, function () {
    swiper.autoplay.start();
    $(".swiper-progress-bar").addClass("animate");
  });
});

    </script>
</body>
</html>